@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  color: #fff;
}

body {
    font-family: 'arial', sans-serif;
    line-height: 1.6;
    /*margin: 20px;*/
    background-color: #6586a9; 
    margin-bottom:50px ;
    color: #fff;
}

h1 {
    color: White;
    margin-left: 250px;
}

 p {
    margin-bottom: 20px;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.about{
    margin-left: 250px;
    margin-right: 250px;
    text-align: justify;
    color: #ffff;
}