body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    /*margin: 20px auto;*/
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

header, footer {
    background-color: #000000d5;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 60px;
}

.main-content {
    display: flex;
    height: 60vh;
}

.sidebar {
    background-color: #6586a9;
    color: #fff;
    padding: 15px;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-bottom: 35px;
    width: 40vh;
    height:400px;
    text-align: center;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar #sidenav:hover {
    background-color: #728395;
}

.content {
    flex: 2;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.widget {
    background-color:  #fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 300px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

li {
    margin-bottom: 5px;
}

.widgets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.addques{
    width: 25%;
    height: 35%;
    border-radius: 20px;
    margin: 10px; 
    padding: 20px;
    background-color: #6586a9;
    font-size: larger;
    font-weight: 700;
}


