body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    /*max-width: 800px;*/
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.main-content {
    display: flex;
}

.sidebar {
    flex: 0.5;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-bottom: 35px;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    flex: 2;
    padding: 15px;
}

.widget {
    background-color: hsl(0, 18%, 70%);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
