{% extends "base.html" %}
{%load static %}

{% block content %}
    
    <br>
    <br>
    <br><br>
    <h1>About Us</h1>
    <section class="about"><br>
        <h3>Welcome to NumCrack - Your Gateway to Mathematical Mastery!</h3>
        <br>
        <p>Welcome to NumCrack, your go-to destination for mastering the art of mathematics through challenging quiz questions! At NumCrack, we believe that learning mathematics should be an engaging and intellectually stimulating experience. Our platform is dedicated to providing a dynamic and interactive e-learning environment that empowers individuals to enhance their mathematical skills.</p>

        <h3>Our Mission</h3><br>
        <p>At NumCrack, our mission is clear - to make mathematics education accessible and enjoyable for everyone. We are committed to breaking down the barriers that often make mathematics seem daunting. Through a series of thought-provoking quiz questions, we aim to transform the way individuals perceive and engage with mathematics, fostering a love for problem-solving and analytical thinking.</p>
        <br>
        <h3>What Sets Us Apart</h3><br>
        <ol>
            <li><strong>Challenging Quiz Questions:</strong>  NumCrack takes pride in offering a curated collection of tough quiz questions that cater to various mathematical concepts and difficulty levels. We believe that tackling challenging problems is the key to true mastery.</li>
            <li><strong>Interactive Learning:</strong> Learning is most effective when it's engaging. Our platform provides an interactive learning experience, allowing users to actively participate in solving problems, reinforcing concepts, and tracking their progress over time.</li>
            <li><strong>Accessible to All:</strong> NumCrack is designed to be inclusive. Whether you're a student looking to excel in your coursework, a professional seeking to sharpen your analytical skills, or an enthusiast eager to explore the beauty of mathematics, our platform is open to learners of all backgrounds and levels.</li>
        </ol>
        <br>
        <h3>Key Features</h3><br>
        <ul>
            <li><strong>Diverse Question Categories:</strong> From algebra and calculus to geometry and statistics, NumCrack covers a wide range of mathematical topics to cater to the diverse interests and learning needs of our users.</li>
            <li><strong>Progress Tracking:</strong>  Keep tabs on your growth and development with our progress tracking feature. Set personal goals, monitor your achievements, and celebrate your mathematical milestones.</li>
            <li><strong>Community Support:</strong> Join a vibrant community of like-minded learners. Share insights, discuss problem-solving strategies, and connect with fellow mathematics enthusiasts on our platform.</li>
        </ul><br>

        <h2>Join the NumCrack Community</h2><br>
        <p>Embark on a journey of mathematical discovery with NumCrack. Whether you're a seasoned mathematician or just starting your mathematical adventure, our platform is here to guide you. Let's crack the code of mathematics together!</p>

        
        <p>Unlock the world of possibilities with NumCrack - Where Mathematics meets Mastery!</p>
    </section> 

{% endblock content %}