{%load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Layout | CodingLab</title> 
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
    {% include "components/navbar.html" %}


    {% block content %}


  <div class="center">
    <div class="title">Welcome</div>
    <div class="sub_title">A Small platfrom for Hardworkers</div>
  </div>
  
</body>
{% endblock content %}
</html>