{% extends "base.html" %}
{% load static %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'css/stDashboard.css' %}">
    {% endblock style %}
    {% block content %}

     <div class="dashboard-container">
        <header>
            <h1>Student Dashboard</h1>
        </header>
    
        <section class="main-content">
            <aside class="sidebar">
                <h2><img src="{% static "images/student_profile.webp" %}" style="width: 15vh;border-radius: 50%;"></h2>
                <ul>
                    <li>{{user.username}}</li><br>
                    <li>{{user.email}}</li><br>
                    <br>
                    <br>
                    <br>
                    <li><button type="submit"><a href="{% url 'signout' %}">Log Out</a></button></li>
                </ul>
            </aside>
    
            <div class="widgets">
                <div class="stquiz">
                    <a href="{% url 'main-view' %}" 
                    style="text-decoration:none;
                           color: #f0f0f0;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           flex-direction: column;
                           line-height: 80px;">
                    Quiz<br>
                    <i class="fa-solid fa-file-pen fa-xl" style="color: #f0f0f0;"></i></a>
                </div>
                <div class="stquiz">
                    <a href="#" 
                    style="text-decoration:none;
                           color: #f0f0f0;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           flex-direction: column;
                           line-height: 80px;">
                    Result
                    <i class="fa-solid fa-eye fa-xl" style="color: #f0f0f0;"></i></a>
                </div>
                <div class="stquiz">
                    <a href="#" 
                    style="text-decoration:none;
                            color: #f0f0f0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            line-height: 80px;">
                    Progress<br>
                    <i class="fa-solid fa-file-pen fa-xl" style="color: #f0f0f0;"></i></a>
                </div>
            </div>
            
        </section>
    
        <footer>
            <p>&copy; 2024 Student Dashboard</p>
        </footer>
    </div>
    
    <script src="script.js"></script>
{% endblock content %}